logging:
  level:
    root: info

  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"

spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    password: 1234
    url: jdbc:oracle:thin:@localhost:1521/xe
    username: develop
  jpa:
    database: oracle
    database-platform: org.hibernate.dialect.Oracle10gDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  mvc:
    static-path-pattern: /image/**