.ranking-box{
    position: fixed;
    top: 100px;
    right: 50px;
    width: 300px;
    height: fit-content;
    background-color: aliceblue;
    padding: auto;
    box-shadow: 10px 10px 1cm;

}

.ranking-chart > {
    margin: auto;
}

.comment-name{
    float: left;
}

.x-btn{
    display: inline-block;
    width: 10px;
    height: 10px;
    float: right;
}